# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Backend ignores
backend/.env
backend/*.exe
backend/tmp/
backend/logs/
backend/uploads/

# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
